<div class="home">
    <h1 class="home__title">Lyrics Redirect</h1>
    <div class="home__message">
        <p class="home__message__text">Bem-vindo ao Lyrics Redirect este site é um projeto didatico o qual é apenas para aprender conceitos de desenvolvimento visual e os resultados finais são redirecionamentos ao site AZLyrics</p>
        <p class="home__message__text">Obrigado, pela visita!!!</p>
        <a href="https://lyricsredirect.herokuapp.com" target="_blank">Site Antigo</a>
        <a href="https://www.color-name.com" target="_blank">Name Color</a>
    </div>
</div>
