@import "../../sass/variables.sass"

.home
    display: flex
    flex-flow: column
    align-items: center
    .home__title
        font-family: $architects-daughter
        font-size: $title1-section-size-desktop-default
        text-align: center
        font-weight: $title1-weight-desktop-default
        letter-spacing: .15rem
        margin: 10px 0 
    .home__message
        width: 80%
        flex-flow: column
        display: flex
        .home__message__text
            font-family: $kalam-family
            font-size: 1.1rem
            letter-spacing: $letter-spacing-default
            line-height: $line-height-default 
            word-spacing: $word-spacing-default
            margin: 8px 15px
