<div class="main-menu" id="menu">
    <div class="main-menu__logo">
      <img src="../assets/favicon/lion.png" alt="Leao Logo do lyrics redirect" class="main-menu__logo__img">
      <h3 class="main-menu__logo__text">Lyrics Redirect</h3>
    </div>
  
    <ul class="main-menu__list">
      <li class="main-menu__list__item">
        <a href="" class="main-menu__list__item__link">Home</a>
      </li>
      <li class="main-menu__list__item">
        <a href="bands" class="main-menu__list__item__link">Bandas</a>
      </li>
      <li class="main-menu__list__item">
        <a href="#" class="main-menu__list__item__link">Projetos</a>
      </li>
    </ul>
  </div>